.buttons
{
    padding: 1em 1em;
    font-size: 30px;
    background-color: bisque;
    color: black;
    border: black 2px solid;
    cursor: pointer;
    text-decoration: none;
    display: block;
    width: 150px;
    margin: 0 auto;
    text-align: center;
}
.buttons:hover
{
    background-color: skyblue;
}
.now
{
    text-align: center;
    font-size: 20px;
}
footer
{
    position: fixed;
    left: 0;
    bottom: 5px;
    width: 100%;
    background-color: khaki;
}

